In [23]:
import pandas as pd

In [48]:
dataset = pd.read_csv("../data/train.csv")

In [49]:
dataset.drop_duplicates(inplace=True)

In [50]:
dataset.shape

(79383, 4)

In [39]:
dataset[:5]

,company1,company2,is_parent,snippet
0,Sprint_Corporation,Verizon_Communications,False,1 wireless carrier Verizon_Communications (NY...
1,Sprint_Corporation,Verizon_Communications,False,"While AT&T, Sprint_Corporation, and T-Mobile ..."
2,Sprint_Corporation,Verizon_Communications,False,"\nAT&T, Sprint_Corporation, and Verizon_Commun..."
3,Alexa_Internet,Amazon.com,False,Logitech addsAmazon.comn'sAlexa_Interneta skil...
4,Alexa_Internet,Amazon.com,False,\nLogitech has announced a new version of the ...

In [71]:
companies = dataset["company1"].append(dataset["company2"]).value_counts().keys()
companies[:5]

Index(['YouTube', 'Google', 'Verizon_Communications', 'Amazon.com',
       'Alexa_Internet'],
      dtype='object')

In [73]:
companies.shape

(451,)

In [74]:
# using this strategy to fix the problem (stated in the paper) for pairs order
aliased_snippet = []

for i in range(dataset.shape[0]):
    current_row = dataset.iloc[i]
     # I am adding more spaces cuz in some samples the words and concatanated
    for company in companies:
        current_row["snippet"].replace(company, ' ' + company +' ')
        
    aliased_snippet.append(current_row["snippet"]
                           .replace(current_row["company1"],'company1')
                           .replace(current_row["company2"],'company2'))
dataset['aliased_snippet'] = aliased_snippet

dataset['aliased_snippet'] = dataset['aliased_snippet'].str.lower()

In [76]:
dataset[:5]

,company1,company2,is_parent,snippet,aliased_snippet
0,Sprint_Corporation,Verizon_Communications,False,1 wireless carrier Verizon_Communications (NY...,1 wireless carrier company2 (nyse: vz). while...
1,Sprint_Corporation,Verizon_Communications,False,"While AT&T, Sprint_Corporation, and T-Mobile ...","while at&t, company1, and t-mobile were trott..."
2,Sprint_Corporation,Verizon_Communications,False,"\nAT&T, Sprint_Corporation, and Verizon_Commun...","\nat&t, company1, and company2 quickly copied ..."
3,Alexa_Internet,Amazon.com,False,Logitech addsAmazon.comn'sAlexa_Interneta skil...,logitech addscompany2n'scompany1a skills to it...
4,Alexa_Internet,Amazon.com,False,\nLogitech has announced a new version of the ...,\nlogitech has announced a new version of the ...

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
# I will split the train data to train,dev,test in ratio 70/20/10

train, other = train_test_split(dataset, stratify=dataset["is_parent"],test_size=0.3,random_state=26)
train.shape, other.shape

((55568, 5), (23815, 5))

In [86]:
train["is_parent"].value_counts()

False    39038
True     16530
Name: is_parent, dtype: int64

In [87]:
other["is_parent"].value_counts()

False    16730
True      7085
Name: is_parent, dtype: int64

In [89]:
dev,test = train_test_split(other, stratify=other["is_parent"], test_size=(1/3), random_state=26)
dev.shape, test.shape

((15876, 5), (7939, 5))

In [80]:
def in_percent(ratio):
    return ratio*100

print(in_percent(train.shape[0]/dataset.shape[0]))
print(in_percent(dev.shape[0]/dataset.shape[0]))
print(in_percent(test.shape[0]/dataset.shape[0]))

69.99987402844438
19.999244170666262
10.00088180088936

In [81]:
train.to_csv("split/train.csv")
dev.to_csv("split/dev.csv")
test.to_csv("split/test.csv")

In [83]:
train["is_parent"].value_counts()

False    39038
True     16530
Name: is_parent, dtype: int64

In [84]:
dev["is_parent"].value_counts()

False    11153
True      4723
Name: is_parent, dtype: int64

In [85]:
test["is_parent"].value_counts()

False    5577
True     2362
Name: is_parent, dtype: int64