In [37]:
import pandas as pd

In [38]:
result = pd.read_csv("./onto-test/bi_lstm.csv")

In [39]:
result.shape

(18002, 5)

### The RESULTS
The top 20 subsidary groups are:

In [48]:
result[["company1", "company2", "is_parent"]].sort_values(by="is_parent", ascending=False).drop(["is_parent"], axis=1)[:20]

                            company1               company2
4045                       UniCredit        HypoVereinsbank
239                           Google                Dropcam
5923                Volkswagen_Group            Lamborghini
6101                          Pfizer               Allergan
7128                            AT&T            Time_Warner
6960   Takeda_Pharmaceutical_Company  ARIAD_Pharmaceuticals
13628       British_American_Tobacco      Reynolds_American
3005                            AT&T            Time_Warner
16988                Bank_of_America        Jefferies_Group
16434                         Google           Warner_Bros.
7086                           Tesco          Ben_&_Jerry's
12854                     Amazon.com           Warner_Bros.
15946         Verizon_Communications                 Tumblr
13977               Volkswagen_Group            Lamborghini
907                             AT&T            Time_Warner
17078             Berkshire_Hathaway              NV_Energy
11874                       Facebook            Id_Software
8109              Oracle_Corporation               NetSuite
8954                          Google         Alexa_Internet
4331    Molson_Coors_Brewing_Company              SABMiller