In [37]:
import pandas as pd

In [38]:
result = pd.read_csv("./onto-test/bi_lstm.csv")
result.shape

### The RESULTS
The top 20 subsidary groups are:

In [49]:
result[["company1", "company2", "is_parent"]].sort_values(by="is_parent", ascending=False)[:20]

                            company1               company2  is_parent
4045                       UniCredit        HypoVereinsbank   0.999999
239                           Google                Dropcam   0.999999
5923                Volkswagen_Group            Lamborghini   0.999999
6101                          Pfizer               Allergan   0.999999
7128                            AT&T            Time_Warner   0.999997
6960   Takeda_Pharmaceutical_Company  ARIAD_Pharmaceuticals   0.999997
13628       British_American_Tobacco      Reynolds_American   0.999997
3005                            AT&T            Time_Warner   0.999996
16988                Bank_of_America        Jefferies_Group   0.999996
16434                         Google           Warner_Bros.   0.999995
7086                           Tesco          Ben_&_Jerry's   0.999995
12854                     Amazon.com           Warner_Bros.   0.999994
15946         Verizon_Communications                 Tumblr   0.999993
13977               Volkswagen_Group            Lamborghini   0.999993
907                             AT&T            Time_Warner   0.999993
17078             Berkshire_Hathaway              NV_Energy   0.999992
11874                       Facebook            Id_Software   0.999991
8109              Oracle_Corporation               NetSuite   0.999990
8954                          Google         Alexa_Internet   0.999989
4331    Molson_Coors_Brewing_Company              SABMiller   0.999988